<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="./style/modify.css" />
        <title>modify</title>
    </head>
    <body>
        <table>
            <tr>
                <td><span>姓名:</span><input type="text" id="name"/></td>
            </tr>
            <tr>
                <td><span>年龄:</span><input type="text" id="age"/></td>
            </tr>
            <tr>
                <td><span>出生日期:</span><input type="text" id="birth"/></td>
            </tr>
            <tr>
                <td><button id="submit">提交</button></td>
            </tr>
        </table>

        <a href="/">回到主页</a>
        <script src="./js/common/util.js"></script>
        <script src="./js/modify.js"></script>
    </body>
</html>